// Variables

$color-primary: #af0f16 !default;
$color-primary-1: #bf0811 !default;
$color-primary-2: #85181a !default;
$color-primary-3: #e03020 !default;
$color-primary-4: #cf3b2e !default;
$color-primary-5: #e91e63 !default;
$color-secondary: #6c757d !default;
$color-secondary-1:#707070 !default;
$color-secondary-2:#BCBCBC!default;
$color-secondary-3:#fff7f7!default;



$color-white:#FFFFFF !default;

$red-primary: #d22919 !default;
$red-primary: rgba(220,53,69) !default;
$red-primary-rgba: rgba(220,53,69,0.1) !default;

// $body-m: 1170px;
$body-max-width: 1170px;
$control-width:100%;
$color-white:#ffffff!default;

$input-pink-colors: (
  border :    #fdccc9,
  background-color: #fff7f7,
  color: #212121
);

$iconsColor: (
 
  color: red
);
$radius: 50px;
$padding-next:5px 10px 5px 30px;
$padding-back:5px 51px 5px 14px;