#documentos-expedientes{
    .ibox {
        .ibox-tools {
          top: 34px;
          right: 15px;
          margin-right: 44px;
      
          button {
            //color: #FFFFFF;
           // padding: 0.35rem;
          //  margin: 3px;
            //box-shadow: 0 0 3.3px 0 #d22919;
    
            .mdi {
              font-size: 1rem;
            }
    
            span {
              margin-right: 6px;
            }
          }
        }
    
        .ibox-content {
          .table-striped tbody tr:nth-of-type(odd) {

            background-color: rgba(255, 254, 254, 0);
          }
    
          .table th,
          .table td {
            color: #707070;
            border-top: 1px solid #fff7f7 !important;
          }
        }
      }

      td {
        cursor: pointer;
      }
    
      // scroll de la tabla
      tbody {
        display: block;
        height: 450px;
        overflow: hidden;
        margin-top: 5px;
        font-family: Helvetica, Regular !important;
        font-size: 12px;
      }
    
    
    
      thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        text-align: center;
      }
    
      thead {
        width: calc(100% - 0em);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        font-family: Helvetica, Bold !important;
        font-size: 12px;
      }
    
      ::-webkit-scrollbar {
        width: 7px;
      }
    
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #ffffff;
        border-radius: 7px;
      }
    
      ::-webkit-scrollbar-thumb {
        border-radius: 7px;
        -webkit-box-shadow: inset 0 0 66px #b9b9b9;
      }
    
  .iconsborder {
        padding-left: 0px !important;
        padding-right: 11px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        height: 0px !important;
        width: 0px !important;
        border-left-width: 0px;
        border-top-width: 0px !important;
        border-right-width: 0px !important;
        border-bottom-width: 0px !important;
        z-index: auto;
    }
 .table-responsive {
        display: block;
        width: 100%;
        overflow-x: hidden; 
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
 }
  //   .mdi-file-document{
  //       color: #FFFFFF;
  //       position: relative;
  //       top: 1px;
  //       font-size: 18px;
  //       outline: none;
  //       right: 4px;
  // }
    .mdi-folder{
        color: #D22919;
        margin-left: 6px;
        margin-right: 10px;
        font-size: 18px;
  }
     
  .checklist{
        border-radius: 50px;
        border: solid 1px #d22919;
        color: #d22919;
        background: white;
        width: 120px;
        height: 39px;
        margin-left: 26px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;
    }
 .mdi-checkbox-blank-circle-outline{
  color: #d22919;
  font-size: 20px
 }
 .documentos-label{
    margin-top: 5px;
    text-align: center;
    font-weight: 800;
    color: #707070;
    font-family: Helvetica, Bold;
    font-size: 18px;
 }
 .tr-label{
  margin-top: 5px;
  text-align: center;
  font-weight: 800;
  color: #707070;
  font-family: Helvetica, Bold;
  font-size: 18px;
  border: 0px;
  
  display: inline-block;
  box-shadow: 0px 3px 6px #00000016;
  margin-left: -15px;
 }
 .tr-label-tableTwo{
    margin-top: 5px;
   // text-align: justify;
    font-weight: 800;
    color: #707070;
    font-family: Helvetica, Bold;
    font-size: 12px;
    border: 0px;
    display: inline-block;
 }

//  .circulobotonsdelete{
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   background: #BCBCBC;
//   display: inline-block;
//   text-align: center;
//   margin-left: -3px;
//   margin-top: 5px;
//   }


  tr.highlighted td {
    background: #F5D3D0;
    cursor: pointer;
}
  .label-titel-exp{
    margin-top: 16px;
    font-size: 12px;
    color: #707070;
    font-weight: 800;
    font-family: Helvetica, Bold;
  }
  .banel-titel{
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    right: 15px;
    margin-right: 93px;
  }

  .tooltip {
    position: relative;
    display: inline-block;

    opacity: inherit;
  }

  .progress-content {
    display: inline-block;
    vertical-align: middle;
  
    background: #fff7f7;
  
 }

 .progress-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
  width: 13px;
  height: 13px;
  padding-bottom: 2px;
  color: #fff;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: background-color, border-color;
  transition-duration: 0.3s;
  margin-left: 30px;
  margin-top: 19px;
  z-index: 2005;
 }

 .progress-tracker--vertical .progress-step::after {
  right: auto;
  top: 19px;
  left: 9px;
  width: 1.2px;
  height: 100%;
  z-index: 2001;
 }

 .progress-step::after {
  background-color: #d22919;
 }
 .progress-step.is-complete::after {
  background-color: #d22919;
}

.progress-step.is-complete .progress-marker {
  background-color: #ffffff;
  border-color: #d22919;
  margin-left: 4px;
 }

 .progress-step .progress-marker {
  background-color: #ffffff;
  border-color: #d22919;
}

 .text-navy {
  color: #707070;
 }

 .label-nomb-header{
  width: 60%;
  text-align: end;
  display: block;
 }

 .box-shadow{
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.21);
  margin-left: 8px;
  height: 495px;
  overflow: scroll;
  max-width: 30.333333%;
  padding-right: 0px;
 }

 .table {
  width: 102%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.space{
  width: 192px;
  
}

table tr:nth-child(even) {
  background: #fff7f7;
}
}