.icon-calendario{
  
     background:url('assets/iconos/round-calendar_today-24px.svg') no-repeat right top;  
   //   padding-right: 52px;
     background-color: #fff7f7;
   background-position: right 10px bottom 2px;

}