<cabecera-basico [titulo]="titulo" [links]="links"></cabecera-basico>
<div id="reclamacion">
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 class="margin-bottom40 font-weight-bold mt-4 mr-2" style="font-size: 14px; color: #707070;">
                            CREAR RECLAMACIÓN</h5>
                        <div class="ibox-tools mt-3 pr-3">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="related-news" style="margin-top: -30px;">

                            <div class="row m-5" *ngIf="pdf">

                                <div class="col-md-12 m-0 p-0">
                                    <pdf-viewer [src]="src" [original-size]="false" [autoresize]="true"></pdf-viewer>
                                </div>




                            </div>


                            <div class="row m-5" *ngIf="formularioReclamacion">
                                <div class="col-md-12">
                                    <label class="mt-5 ">hoja de Reclamación: <label class="font-weight-bold">{{hojaReclamacion}}</label></label>
                                </div>



                                <div class="col-md-4 d-block">
                                    <div class="col-md-12 mt-3">
                                        <label>Tipo de Respuestas</label>
                                        <select select2 theme="FondoRosado" required>
                                            <option *ngFor="let  item of canal" [value]="item.id">{{item.text}}</option>
                                        </select>

                                    </div>
                                </div>



                                <div class="col-md-12 mt-3 ml-3 ">
                                    <label> Detalle de Respuestas</label>
                                    <textarea class=" btn-rounded  _input pinky  rounded-top rounded-bottom" style=" height: 100px;"
                                        [(ngModel)]="descriccion" required></textarea>
                                </div>




                            </div>

                            <!-- carga formulario -->
                            <div class=" col-md-12 actions text-right mt-5" *ngIf="btnPdf">

                                <button (click)="atras()" class="btn btn-secondary mr-3">

                                    Cancelar
                                </button>

                                <button (click)="FormularioReclamacion()" class="btn btn-primary">
                                    Siguiente
                                </button>
                            </div>
                            <!-- CARGA PDF -->
                            <div class=" col-md-12 actions text-right mt-5" *ngIf="btnResponder">

                                <button (click)="atrasPdf()" class="btn btn-secondary mr-3">

                                    Cancelar
                                </button>

                                <button (click)="guardarReclamacion()" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>
                            <!-- CONFIRMA CON ALERT  -->

                            <div class=" col-md-12 actions text-right mt-5" *ngIf="btnEnviarReclamacion">

                                <button (click)="atrasFormReclamacion()" class="btn btn-secondary mr-3">
                                    <span class="mdi mdi-chevron-left"></span>
                                    Atrás
                                </button>

                                <button (click)="enviarFormReclamacion()" class="btn btn-primary">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>