#bienes-1 {
  color: #707070;
  .ibox-contents {
    background-color: #ffffff;
    color: inherit;
    padding: 32px 13px 100px 13px;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
  }
  h5 {
    color: #4d4d4d !important;
    font-size: 1.1em;
    font-weight: 600;
  }
  .ibox-text {
    label {
      font-size: 0.8em;
    }
  }
  .title {
    font-size: 0.9em;
  }
  .buttonAtras{
    margin-right: 16px !important;
    padding: 4px 12px 4px 12px !important;
    background: #fff;
    border: 1px solid #d22919;
    color: #c52121 !important;
  }
  .actions {
    .backAtras {
      margin-right: 16px !important;
      padding: 4px 12px 4px 12px !important;
      border: 1px solid #bcbcbc;
      color: #d22919;
   }
    .prev {
      padding: 5.2px 53px 5.2px 8px;
      margin-right: 12px;
      text-decoration: none;
      color: #ffffff;
      .mdi{
        margin-right: 28px;
      }
    }
    .next {
      color: #ffffff;
      text-decoration: none;
      padding: 5px 10px 5px 38px;
      .mdi{
        margin-left: 18px;
      }
      .mdi-chevron-left {
        margin-right: 28px;
        margin-left: -35px;
      }      
    }
  }

 .topbuttons{
  position: absolute;
  top: 86%;
  right: 50px;
 }
 .margintopselect{
  margin-top: 20px;
 }

//  .select2-container .select2-selection {
//     border-radius: 10px;
//     border: 1px solid #fdccc9;
//     border-radius: 2em;
//     /* background: #fdccc9 !important; */
//     background: #fff7f7 !important;
//   }

.btnNext{
  margin-right: 16px !important;
  padding: 4px 12px 4px 12px !important;
  background: #de1818;
  border: 1px solid #d22919;
  color: #fffefe !important;
}

		

.borderDerecho{
  border-radius: 44px 0px 0px 44px;
  color: #000000de;
  height: 33px;
  background: #fff7f7;
  border: 1px solid #fdccc9;
  width: 120px;
}
.borderDerecho-after{
  border-radius: 44px 0px 0px 44px;
  color: #fff;
  height: 33px;
  background: #d22919;
  border: 1px solid #d22919;
  width: 120px;
}

.borderIzquierdo{
  // border-radius: 0px 44px 44px 0px;
  border-radius: 0px 44px 44px 0px;
  color: #000000de;
  height: 33px;
  background: #fff7f7;
  border: 1px solid #fdccc9;
  width: 120px;
}
.borderIzquierdo-after{
  // border-radius: 0px 44px 44px 0px;
  border-radius: 0px 44px 44px 0px;
  color: #fff;
  height: 33px;
  background: #d22919;
  border: 1px solid #d22919;
  width: 120px;
}
.boderbuttongropu{
  width: 100%;
}
.pinky{
  background-color: #fff7f7;
  border: 1px solid #fdccc9;
}
button{
  outline: none;
}
.boderbuttongropu{
  width: 100%;
}


.btn-secondary:not(:disabled):not(.disabled).active,
 .btn-secondary:not(:disabled):not(.disabled):active, 
 .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color:red;
  border-color: red;
}

.btn-secondary:hover {
  color: #fff;
  background-color:red;
  border-color: red;

}

.btn.focus, .btn:focus{
  color: #fff;
  background-color:red;
  border-color: red;
  outline: none;
  box-shadow: 0 0 0 0.2rem red;
}

}