#editar-ejec {
  h5 {
    color: #707070;
    font-size: 15px;
  }

  .ejec {
    margin-top: 100px;
  }

  .btnSiguienteEjec {
    border-radius: 50px;
    background: #d22919;
    font-size: 0.75rem;
    border: 0;
    padding: 0.32rem;
    color: #ffffff;
    width: 125px;
    outline: none;
  }

  .modal-footer {
    justify-content: center;
    border-top: none !important;
  }

  .mt-5, .my-5 {
    margin-top: 7rem !important;
 }

}
