<div id="calendario-principal">

  <!-- calendar -->

  <calendario-right></calendario-right>


  <div id="timeline">
    <ul class="progress-tracker progress-tracker--text progress-tracker--vertical progress-tracker--spaced">
      <li class="progress-step is-complete">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">8:30 am</p>
          <p class="text-navy progress-content">Reunión con Gerentes</p>
        </span>
      </li>

      <li class="progress-step odd">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">9:45 am</p>
          <p class="text-navy progress-content">Visita a Grupo Pana</p>
        </span>
      </li>

      <li class="progress-step ">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">11:00 am</p>
          <p class="text-navy progress-content">Visita a Camiones Vicente</p>
        </span>
      </li>

      <li class="progress-step odd">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">12:30 pm</p>
          <p class="text-navy progress-content">Dentista</p>
        </span>
      </li>

      <li class="progress-step">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">2:30 pm</p>
          <p class="text-navy progress-content">Visita a BMW</p>
        </span>
      </li>

      <li class="progress-step odd">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">3:15 pm</p>
          <p class="text-navy progress-content">Visita a Trnasportes Trans</p>
        </span>
      </li>

      <li class="progress-step">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">4:00 pm</p>
          <p class="text-navy progress-content">Visita a Grupo Pana</p>
        </span>
      </li>

      <li class="progress-step odd">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <p class="progress-title">5:30 pm</p>
          <p class="text-navy progress-content">Reunión de Mantenimiento</p>
        </span>
      </li>
    </ul>




  </div>

<!-- 
  <div>
    <h1>Categorías</h1>


    <ul *ngFor="let item of listaAgenda; let index = index">
      <li><i [class]="item.icono"></i>{{item.categoria}}</li>


    </ul>

  </div> -->
</div>
