<cabecera-basico [titulo]="titulo" [links]="links"></cabecera-basico>
<div id="biblioteca-anexo">
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox">
          <div class="ibox-title">
            <form action="/search" id="searchbox5">
              <input id="search51" name="q" type="text" size="40" placeholder="Buscar" />
            </form>
            <div class="ibox-tools">
              <button class="btn btn-circle btn-primary mr-2" data-toggle="modal" data-target="#modalCargarArcgivo">
                <div class="mdi mdi-export" style="transform: rotate(-90deg);"></div>
              </button>

              <button class="btn btn-circle btn-primary mr-2" [disabled]="!selectItem.id" (click)="verDocumentos()">
                <i class="mdi mdi-file-document"></i>
              </button>
              <button class="btn btn-circle btn-primary mr-2" [disabled]="!selectItem.id">
                <i class="mdi mdi-delete"></i>
              </button>
              <!-- <a data-fancybox data-options='{"caption" : "My caption", "src" : "https://codepen.io/about/", "type" : "iframe"}' href="javascript:;" class="btn btn-primary">
                Example #1
              </a>
              
              <a data-fancybox data-animation-effect="false" href="https://source.unsplash.com/0JYgd2QuMfw/1500x1000" class="btn btn-primary">
                Example #2
              </a> -->
            </div>
          </div>
          <div class="ibox-content">
            <div class="related-news">
              <div class="table-responsive tableScroll" infiniteScroll (scrolled)="listarBibliotecas(true)">
                <table class="table table-striped  table-hover " id="tableCliente">
                  <thead>
                    <tr>
                      <th style="width: 50px;">No.</th>
                      <th>Documento</th>
                      <th>Tipo</th>
                      <!-- <th >N° Expediente</th> -->
                      <th>Fecha Doc. </th>
                      <th>Estado</th>
                      <th>F. Subido </th>
                      <th>Actualizado Por</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of bibliotecas; let index = index" (click)="selectItem =data" [ngClass]="{'highlighted':data.id==selectItem.id}">
                      <td (click)="clientes($event)">{{index + 1}}</td>
                      <td>{{data.nombre_doc}}</td>
                      <td>{{data.tipoarchivo}}</td>
                      <!-- <td >{{data.numExpediente}}</td> -->
                      <td>{{data.fecha_doc}}</td>
                      <td>{{data.estado_doc}}</td>
                      <td>{{data.fecha_subida}}</td>
                      <td>{{data.usuario}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right mb-5">
        <button type="button" class="btn btn-secondary mr-3" (click)="cancelarDetatallesBiblioteca()">
          <span class="mdi mdi-chevron-left"></span>Atrás
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="modal fade bd-example-modal-lg" data-keyboard="false" id="modalCargarArcgivo" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" [ngClass]="{'loading-default':loadingSubirArchivo}">
          <div class="modal-header modal-header-pink">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              <strong style="font-size: 15px;">Carga de Archivo
              </strong>
            </h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="upload-buttons">
                  <button id="btn-addFiles" class="btn btn-primary fileinput-button">
                    <span>Explorar</span>
                    <input id="files" type="file" name="files" multiple="" accept=".xlsx, .xls, .doc, docx, image/*"
                      (change)="fileChangeEvent($event)">
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <ng-container *ngFor="let data of dataFile;let index = index">
                <div class="col-md-5">
                  <label>Archivo</label>
                  <input [value]="data.nombre" class=" btn-rounded  _input pinky" readonly>
                  <span class="marginInput" (click)="eliminarArchivo(index)"></span>
                </div>
                <div class="col-md-4">
                  <label>Tipo</label>
                  <select-defaul-async [search]="false" (selectChange)="selectedTipoDocumentos(index,$event)" [data]="tipoDocumentos">
                  </select-defaul-async>
                </div>
                <div class="col-md-3">
                  <label>Fecha de documento</label>
                  <input class="icon-calendario btn-rounded  _input pinky  " [value]="data.fecha" readonly>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="text-right margin40 ejec">
            <button type="button" class="btn btn-secondary mr-3" (click)="closeCargaArchivo()">Cancelar</button>
            <button type="button" class="btn btn-primary loading-default-btn" (click)="cargaArchivo()" [disabled]="!validarBtnAceptar()">
              <div *ngIf="loadingSubirArchivo" class="loader"></div>
              <span *ngIf="!loadingSubirArchivo">Aceptar</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>