#principales-activos {
  .ibox {
    .ibox-tools {
      button {
        color: #FFFFFF;
        padding: 0.35rem;
        margin: 20px;
        box-shadow: 0 0 3.3px 0 #d22919;

        .mdi {
          font-size: 1rem;
        }

        span {
          margin-right: 6px;
        }
      }
    }

    .ibox-content {
      .table-striped tbody tr:nth-of-type(odd) {
        // background-color: #ffffff;

        background-color: rgba(255, 254, 254, 0);
      }

      .table th,
      .table td {
        color: #707070;
        font-size: 66%;
        border-top: 1px solid #fff7f7 !important;
      }
    }
  }

  .button-panel-info {
    padding: 0.35rem;
    box-shadow: 0 0 0 0 #d22919;
    background: white;
    color: #d22919 !important;
    border-radius: 50px;
    height: 35px;
    font-size: 13px;
    width: 144px;
    border: 1px solid #d22919;
    margin-left: 17px;
    cursor: pointer;
  }

  .button-panel-infobutton {
    outline: none;
  }

  td {
    cursor: pointer;
  }

  // scroll de la tabla
  tbody {
    display: block;
    height: 450px;
    overflow: auto;
    margin-top: 5px;
    font-family: Helvetica, Regular !important;
    font-size: 16px;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }

  thead {
    width: calc(100% - 0em);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    font-family: Helvetica, Bold !important;
    font-size: 16px;

  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 66px #b9b9b9;
  }

  .iconsborder {
    padding-left: 0px !important;
    padding-right: 11px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    height: 0px !important;
    width: 0px !important;
    border-left-width: 0px;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
  }

  .buttonAceptarModal {
    border-radius: 50px;
    background: #d22919;
    font-size: 0.75rem;
    border: 0;
    padding: 0.32rem;
    color: #ffffff;
    width: 125px;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 0px solid #e9ecef;
  }

  button {
    outline: none;
  }

  .btnSiguiente {
    border-radius: 50px;
    background: #d22919;
    font-size: 0.75rem;
    border: 0;
    padding: 0.32rem;
    color: #ffffff;
    width: 125px;
  }

  .button-panel-after {
    padding: 0.35rem;
    box-shadow: 0 0 0 0 #d22919;
    background: #fff7f7;
    color: #d22919 !important;
    border-radius: 50px;
    height: 35px;
    font-size: 13px;
    width: 144px;
    border: 1px solid #d22919;
    margin-left: 17px;
    cursor: pointer;
  }
}
