<cabecera-basico [titulo]="titulo" [links]="links"></cabecera-basico>

<div id="sucursales">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-title">
                        <form action="/search" id="searchbox5" class="m-0 mt-3 pl-3">
                            <input id="search51" name="q" type="text" size="40" placeholder="Buscar" (click)="busquedaGeneral()"
                                [(ngModel)]="buscarCotizacion" />
                        </form>
                        <div class="ibox-tools ">

                            <button class="btn btn-primary fs-16 " (click)="nuevo()"><span class="mdi mdi-plus"></span>Nuevo</button>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="related-news" style="margin-top: -30px;">
                            <div class="table-responsive">
                                <table class="table table-striped  table-hover " id="tableEjecutivos">
                                    <thead>
                                        <tr>

                                            <th>No.</th>
                                            <th>Cargo</th>
                                            <th>Nombre</th>
                                            <th>Tipo </th>
                                            <th>Dirección</th>
                                            <th>Distrito </th>
                                            <th>Ciudad</th>
                                            <th>Teléfono</th>
                                            <th>Encargado</th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listaSucursales">

                                            <td>{{item.Id}}</td>
                                            <td>{{item.Cargo}}</td>
                                            <td>{{item.Nombre}}</td>
                                            <td>{{item.Tipo}}</td>
                                            <td>
                                                <button type="button" class="href-direccion " (click)="verDireccion(item)"
                                                    data-toggle="modal" data-target="#exampleModalCenter">
                                                    {{item.Direccion}}
                                                </button>
                                                <!-- <div class="href-direccion " (click)="verDireccion(item)">
                                                    {{item.Direccion}}
                                                </div> -->

                                            </td>
                                            <td>{{item.Distrito}}</td>
                                            <td>{{item.Ciudad}}</td>
                                            <td>{{item.Telefono}}</td>
                                            <td>{{item.Encargado}}</td>



                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>

            </div>

        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="xflotante">&times;</span>
                            <!-- <span aria-hidden="true" class=""> ×</span> -->
                        </button>
                    </div>
                    <div class="modal-body">

                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false">
                            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                                (mapReady)="mapReady()" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"
                                [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="'/assets/iconos/origen.png'">

                                <agm-info-window>
                                    <strong>InfoWindow content</strong>
                                </agm-info-window>
                            </agm-marker>

                        </agm-map>
                    </div>

                </div>
            </div>
        </div>

    </div>