<div id="topnavbar-modulos">
        <div class="border-bottom">
            <nav class="navbar navbar-static-top white-bg hidden-xs" role="navigation" style="margin-bottom: 0">
    
                <ul class="nav navbar-top-links navbar-right margin-right ng-list ">
                    <!-- <li>
                        <a matTooltip="Calendario" class="icon" [routerLink]="['/visitas']">
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                  
                    <li>
                        <a matTooltip="Notificaciones" class="icon" [routerLink]="['']">
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <li>
                        <a matTooltip="Usuario" class="icon" [routerLink]="['']">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a matTooltip="Ayuda" class="icon" [routerLink]="['']">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </li> -->
                    <li class="salir">
                        <a (click)="logout()">
                            <i class="fa fa-sign-out"></i> Salir
                        </a>
                    </li>
                </ul>
    
            </nav>
           
      
        </div>
    </div>
    