<div id="layouts-modulos" >
        <div class="box-logo">
            <img class="logo-modulo" src="assets/img/Logo-01.png" alt="logo">
    
        </div>
        <div id="wrapper" class="box-cabecera">
            <!-- Wrapper-->
            <topnavbar-modulos></topnavbar-modulos>
            <cabecera-basico [titulo]="titulo" [links]="links" class="hidden-xs "></cabecera-basico>
        </div>
    </div>
    
    
    
    
    <!-- Main page wrapper -->
    <div id="page-wrapper-dos" class="gray-bg">
    
        <!-- Top navigation -->
    
        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>
    
    
    
    </div>
    <!-- End page wrapper-->
    
    
    <!-- End wrapper-->
    